{% extends 'layouts/base.html' %}
{% block title %}Bookmarks!{% endblock %}

{% block content %}

<h1>Bookmarks!</h1>
{% if user.is_authenticated %}
    {%if user.id == bookmark.user.id %}
    <a>{{bookmark.title}}</a>
    {% else %}
    <a>Could not add 'add a bookmark' and 'view all bookmarks' pages on the frontend due to time restrictions
        although it works in the backend as of now.
    </a><br><br>
    <a> admin login</a><br>
    <a>username: vedant</a>
    <a>password: vedant123</a><br>
    <a>adding bookmark works on backend for now</a>
    {%endif%}
{% endif %}

{% endblock %}